/* Estilo del contenedor del modal */
.role-form-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 50px auto;
  }
  
  /* Estilo de los grupos de campos */
  .role-form-group {
    margin-bottom: 20px;
  }
  
  /* Estilo de los botones */
  .role-form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  